@import "../../styles/variables";

.item-card {
    width: 150px;
    height: 250px;
    span {
        background-color: #28262C;
        color:white;
        z-index: 5;
        position: absolute;
        top: 0%;
        margin-top: 10px;
        left: 45%
    }
    h3 {
        font-size: 1.2em;
    }
}

.image-container {
    width: 150px;
    height: 200px;
    background-color: $tertiary-color;
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
        max-height: 100%;
    }
}